//colors
$color_fuscous_gray_approx: #555;
$white: #fff;
$color_dodger_blue_approx: #2196f3;
$color_mako_approx: #414a4f;
$color_alto_approx: #dcdcdc;
$color_mine_shaft_approx: #333;
$white_60: rgba(255,255,255,0.6);