//colours
$color_fuscous_gray_approx: #555;
$white: #fff;
$color_dodger_blue_approx: #2196f3;
$color_mako_approx: #414a4f;
$color_alto_approx: #dcdcdc;
$color_mine_shaft_approx: #333;
$white_60: rgba(255,255,255,0.6);
$color_celeste_approx: #ccc;
$color_ebony_clay_approx: #26303b;
$color_outer_space_approx: #2c3540;
$color_mabel_approx: #daf6ff;
$color_cerulean_approx: rgba(10, 175, 230, 1);


/* Social Media Colours  */ 
$color_azure_approx: #3b5998;
$white: white;
$color_picton_blue_approx: #55acee;
$color_deep_cerulean_approx: #007bb5;
$color_venice_blue_approx: #125688;



