
@media(max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
	header {
		padding: 20px 50px;
	}
	.reviews {
		.quote {
			font-size: 20px;
		}
		.author {
			font-size: 16px;
		}
	}
	.our-work .grid li {
		&.small {
			flex-basis: 100%;
		}
		&.large {
			flex-basis: 100%;
		}
	}
	.features .grid li {
		flex-basis: 70%;
		margin-bottom: 65px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
@media(max-width: 600px) {
	section {
		padding: 80px 30px;
	}
	.features .grid li {
		flex-basis: 100%;
	}
}


@media(max-width: 800px) {
	.hero {
		min-height: 600px;
		h1 {
			font-size: 48px;
		}
		h3 {
			font-size: 24px;
		}
		a.btn {
			padding: 15px 40px;
		}
	}
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}





