$color-main: #00e673; //this will be the main colour of the website
$font: Arial,
Helvetica,
sans-serif; //this will be the font of website
$header-background: #4d4dff; //This will be the colour of my header

body{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; //these are the columns they can have different widths, also fr means fraction
 //grid-template-columns: repeat(9, 1fr) this is useful if I got lots of columns e.g. 9
 // grid-auto-rows: 200px; this gives a set size of the boxes so content will get cut off
 grid-auto-rows: minmax(200px, auto);
 max-width: 960px;
  margin: 0 auto;
}

#content div{
  background: purple;
  padding: 30px
}
#content div:nth-child(even){
  background: blue;
}