//This will be the primary
$font-stack: Arial, Helvetica, sans-serif;
//This will be primary colour, for now chosen green because the default is white
$primary-color: #00e673;

body {
  font: 100% $font-stack;
  background-color: $primary-color
  h1{
    color: $primary-color;
  }
}
