//FOR IMAGES ONLY

/* CSS Reset */
* { margin: 0; padding: 0; }

/* Basic Responsive Image */
img {
  width: 100%;
  height: auto;
}
/* Responsive Images in Columns */
.two-columns {
  width: 48%;
  display: inline-block;
}
.three-columns {
  width: 32%;
  display: inline-block;
}
/* Responsive Images with Conditional Breakpoints  */

.breakpoint { /* One column for smartphones */
  max-width: 100%;
  display: inline-block;
}
@media (min-width: 420px) { /* Two columns for tablets */
  .breakpoint {
    max-width: 48%;
  }
}
@media (min-width: 760px) { /* Four columns for large devices */
  .breakpoint {
    max-width: 24%;
  }
}
/* Full-width Responsive Image */
.full {
  width: 100%;
}