

//urls
$url_0: url(https://fonts.googleapis.com/css?family=Dosis);

@import $url_0;
body {
	background-color: $black;
}
#inside {
	font-family: $font_0, $font_1;
	color: $color_neon_carrot_approx;
	position: fixed;
	z-index: 1;
	height: 1.4em;
	width: 3.8em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 10vw;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 4px 4px 10px $color_punch_40_approx, 4px 4px 20px $color_thunderbird_40_approx, 4px 4px 30px $color_thunderbird_40_approx, 4px 4px 40px $color_milano_red_40_approx;
}