#clock {
	font-family: $font_4, $font_5;
	color: $white;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: $color_mabel_approx;
    text-shadow: 0 0 20px $color_cerulean_approx, 0 0 20px rgba(10, 175, 230, 0);
}
	.time{
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    

.date {
	letter-spacing: 0.1em;
	font-size: 24px;
}
.text {
	letter-spacing: 0.1em;
	font-size: 12px;
	padding: 20px 0 0;
}