footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: $white;
	background-color: $color_mako_approx;
	padding: 60px 0;
	ul {
		display: flex;
		margin-bottom: 25px;
		font-size: 32px;
		li {
			margin: 0 8px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	p {
		text-transform: uppercase;
		font-size: 14px;
		color: $white_60;
		margin-bottom: 10px;
		a {
			color: $white;
		}
	}
}
/* Social Media Buttons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	&:hover {
		opacity: 0.7;
	}
}
.fa-facebook {
	background: $color_azure_approx;
	color: $white;
}
.fa-twitter {
	background: $color_picton_blue_approx;
	color: $white;
}
.fa-linkedin {
	background: $color_deep_cerulean_approx;
	color: $white;
}
.fa-instagram {
	background: $color_venice_blue_approx;
	color: $white;
}