.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $white;
    padding: 35px 100px 0;
}
	h2 {
		font-family: $font_2, $font_0;
    }
	nav {
		display: flex;
		li 
			margin: 0 15px;
			&:first-child 
				margin-left: 0;

			&:last-child 
				margin-right: 0;

    }


@media(max-width: 700px) {
	header 
		flex-direction: column;
		h2 
            margin-bottom: 15px;
}