$yellow-green: #b0eb00;
$red: #b30015;
$blue: #2a00b3;
$other-blue: #0077b3;
$cyan: #00b0b3;
$transparent-cyan: #24fbff;
$periwinkle: #8a7dff;
$light-gray: #a6a6a6;
$gray: #595959;
$darkish-gray: #444;
$dark-gray: #363636;
$darker-gray: #303030;
$darkest-gray: #292929;
$darkester-gray: #111;
$Persian-Pink: #F77FBE;
$purple: #660099; 
$Zircon: #F4F8FF;
//colors
$color_fuscous_gray_approx: #555;
$white: #fff;
$color_dodger_blue_approx: #2196f3;
$color_mako_approx: #414a4f;
$color_mine_shaft_approx: #333;
$color_black_haze_approx: #f7f7f7;
$white_60: rgba(255,255,255,0.6);


